body{
  background-color: #f2f2f2;
}
ul{
  background-color: #b3b3b3;
}
a:link{
  color: black;
  font-weight: bold;
}

a:link:active{
  color: white;
  background-color: #999999;
}

a:link:hover{
  color: pink;
  background-color: #999999;
}

h1{
  text-align: center;
  font-size: 3em;
  font-weight: bolder;
  margin-top: 20px;
}
h2{
  text-align: center;
  font-size: 2em;
}

.me{
  margin-top: 20px;
  margin-left: 20px;
}

.container p{
  text-align: center;

}

.aboutme{
  margin-left: 380px;
  margin-right: 50px;
  margin-top: 50px;
}

footer{
  text-align: left;
  position: fixed;
left: 0;
bottom: 0;
width: 100%;
background-color: #808080;
color: black;
font-weight: bold;
text-align: center;
}

.rounded{
  margin-top: 0px;
  margin-bottom: 50px;
}

.resume{
  margin-top: 50px;
}
